.box-shadow-custom-1{
    box-shadow:  0px 6px 20px rgba(255, 167, 215, 0.42);
}
.box-shadow-custom-2{
    box-shadow:  0px 6px 20px rgba(255, 207, 109, 0.42)
}
.box-shadow-custom-3{
    box-shadow: 0px 6px 20px rgba(252, 46, 83, 0.42);
}
.box-shadow-custom-4{
    box-shadow: 0px 6px 20px rgba(9, 189, 60, 0.42);
}
