.card-backgroundImage1{
    background-image: url(../../../assets/img/Bg-blue.png);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 253px;
    width: 389px;
}
.card-backgroundImage2{
    background-image: url(../../../assets/img/Bg-green.png);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 253px;
    width: 389px;
}